body {
    height: max-content;
    width: 100%;
    place-items: center;
    justify-items: center;
    align-items: center;
}

.loginform {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: gray;
}

input {
    width: 90px;
}