@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

.loginform {
    width: 90%;
    place-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
}

input, label {
    display:block;
}

input[type=text], input[type=password] {
    width: 30%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
}

h1, label {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 700;
}

label {
    font-weight: 500;
}

.buttons > * {
    border-color: var(--text-color);
  color: var(--text-color);
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}